<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Session Suite">

	<test name="Open Cart Login Page Test">

		<classes>
			<class name="TestNGSessions.LoginPageTest" />
		</classes>
	</test>

	<test name="Open Cart Home Page Test">

		<classes>
			<class name="TestNGSessions.HomePageTest" />
		</classes>

	</test>
</suite>